# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Documents\ITMO University\Github Repository\itmo\course5\analysis_and_development_of_algorithms\dynamic_array_and_linked_list\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
