* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Lato", sans-serif
}

.cross:hover {
    opacity: 0.8;
}

.regWindow {
    background-color: rgba(0, 0, 0, 0.95);
}

.loginWindow {
    background-color: rgba(0, 0, 0, 0.95);
}

.mySlides {
    display: none
}