
#table-scroll {
    height:150px;
    overflow: auto;
}

* {
    margin: 0;
}

.secondString {
    background-image: url(ducks.jpg);
    height: 250px;
}

.text {
    font-size: 30px;
    color:#fff;
    opacity: 0.7;
    text-align: center;
    font-style: italic;
    background-image: url(18-tekstura-dzhinsovoy-tkani.jpg);
}

.select {
    width: 95%;
}

.radio {
    text-align: left;
    margin-bottom: 15px;
}

.button {
    margin-top: 10px;
}

.result {
    text-align: center;
    word-break: break-all;
    overflow: auto;
}

.result tr td {
    width: 5%;
}

#title {
    color: white;
    background: linear-gradient(#0C3248, #95f3f5);
}

#x {
    width: 90%;
}

#x_span {
    font-weight: bold;
    color: #a70000;
}

#tick {
    font-weight: bold;
    color: limegreen;
}

table {
    width: 100%;
    border-spacing: 0;
    text-align: center;
    vertical-align: top;
}

th {
    font-style: italic;
    color: black;
    size: 16px;
    height: 80px;
    background-color: white;
}

td {
    width: 25%;
}