.text {
    font-size: 30px;
    color:#fff;
    opacity: 0.7;
    text-align: center;
    font-style: italic;
    background-image: url(18-tekstura-dzhinsovoy-tkani.jpg);
}

th {
    font-style: italic;
    color: black;
    size: 16px;
}

.graph {
    padding-bottom: 50px;
    padding-top: 81px;
}

.button {
    width: 100%;
    align: center;

}

.tabs {
    position: relative;
    height: 260px;
    clear: both;
}

.tab {
    float: left;
}

.tab [name="group1"] {
    display: none;
}

.tab label {
    background: #eee;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: -1px;
    position: relative;
    left: 1px;
}

.content {
    position: absolute;
    top: 28px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 5px;
    border: 1px solid #ccc;
}

[type=radio]:checked ~ label {
     background: white;
     border-bottom: 1px solid white;
     z-index: 2;
 }

[type=radio]:checked ~ label ~ .content {
    z-index: 1;
}
